.footer {
    background-color: #45151b;
    color: white;
    text-align: center;
    padding: 50px 20px calc(50px + env(safe-area-inset-bottom, 0px));
}

.footer h3 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
}