/* CARDS */

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.info-card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.info-card:hover {
    transform: translateY(-8px);
}

.info-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.info-card h3 {
    padding: 20px 20px 10px;
    font-family: "Poppins", sans-serif;
    color: #45151b;
}

.info-card p {
    padding: 0 20px 25px;
    line-height: 1.7;
}

.highlight-card {
    transform: scale(1.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border: 2px solid var(--primary);
    transition: 0.3s ease;
}