.hero {
    height: 100vh;

    background-image:
        linear-gradient(
            rgba(69, 21, 27, 0.45),
            rgba(69, 21, 27, 0.45)
        ),
        url("../photos/hero.jpeg");

    background-size: cover;
    background-position: center 49%;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    padding: 0 10%;
    height: 100vh;
}

.hero-content {
    max-width: 850px;
    color: white;
}

.hero-subtitle {
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #ea9dae;
}

.hero h1 {
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.1;
    margin-bottom: 25px;
}

.hero-text {
    font-size: 1.15rem;
    margin-bottom: 10px;
}

.hero-button {
    display: inline-block;
    padding: 15px 35px;
    background-color: #f99256;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.hero-button:hover {
    transform: translateY(-3px);
    background-color: #c74e51;
}

.hero-signature {
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.75);
}

.site-name {
    font-family: "Poppins", sans-serif;
    font-size: 0.85rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.75);
}

.author-name {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #f99256;
}