/* SECTIONS */

section {
    scroll-margin-top: 40px;
}

.content-section {
    padding: 50px 10% 90px;
}

.alt-section {
    background-color: rgba(255, 255, 255, 0.3);
}

.section-title {
    text-align: center;
    margin-bottom: 70px;
}

.section-title h2 {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    color: var(--primary);
}

/* GRID SECTION */

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.section-image img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.section-text p {
    margin-bottom: 20px;
    font-size: 1.1rem;
}