* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Times New Roman", serif;
    line-height: 1.7;
    transition:
        background-color 0.4s ease,
        color 0.4s ease;
}

.section-description {
    max-width: 650px;
    margin: 18px auto 0;
    padding: 15px 25px;
    font-size: 1.05rem;
    line-height: 1.7;
    color: var(--text);
    background: rgba(255,255,255,0.35);
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 18px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}

.tooltip {
    position: fixed;
    background: rgba(255, 255, 255, 0.85);
    color: var(--primary);
    padding: 10px 14px;
    border-radius: 14px;
    font-family: "Poppins", sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(69, 21, 27, 0.15);
    backdrop-filter: blur(10px);
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -130%) scale(0.95);
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 9999;
    white-space: nowrap;
}

.tooltip.show {
    opacity: 1;
    transform: translate(-50%, -140%) scale(1);
}

:root {
    --primary: #45151b;
    --secondary: #c74e51;
    --accent: #ea9dae;
    --orange: #f99256;
    --background: #fbde9c;
    --white: #ffffff;
    --text: #1b1b1b;
    --card-bg: rgba(255,255,255,0.7);
}

.theme-toggle {
    background: var(--card-bg);
    border: 1px solid rgba(255,255,255,0.1);

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;

    border-radius: 12px;

    transition: 0.3s ease;
}

.theme-toggle:hover {
    transform: translateY(-2px);
}

.theme-toggle img {
    width: 28px;
    height: 28px;
    transition: transform 0.3s ease;
}

.theme-toggle:hover img {
    transform: rotate(15deg) scale(1.1);
}